---
---

@import "{{ site.theme }}";

header, footer {
    position: relative;
}
section {
    width: auto;
}

img[src*="#emoji"] {
    height: 1rem;
    display: inline-block;
    position: relative;
    top: 2px;
}
