---
---

@import "{{ site.theme }}";

header, footer {
    position: relative;
}
section {
    width: auto;
}

img[src*="#emoji"] {
    height: 0.9rem;
    display: inline-block;
    position: relative;
    top: 0.3rem;
    margin: 0.2rem;
}
